---
layout: home-page
title: Welcome to Circle of Track!
tagline: We're all loco in this club!
---
<div class="large-wrapper">
<div class="about-container">
<h2>Welcome to the online home of <a href="{{site.baseurl}}/about">Circle of Track</a>. We have many more pictures to share that will tell the story of Circle of Track and our layout. Check back monthly to see what's new!</h2>
</div>
</div>
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
